@import url("https://alphacss.netlify.app/alpha.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  color: white;
}

.af {
  font-size: 0.6rem;
  margin: 0rem 0.5rem;
}

.product-card {
  border: 1px solid rgb(228, 228, 228);
}

.product-card > img {
  width: 100%;
  cursor: pointer;
}

.btn-primary:disabled {
  background-color: rgb(201, 201, 201);
}

.btn-primary:disabled:hover {
  background-color: rgb(201, 201, 201);
  cursor: default;
}

.wishlist-badge:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.363));
}

.card-title {
  font-size: 1rem;
}

.product-price {
  font-size: 1rem;
}

.delete-badge:hover {
  color: #ff2e63;
}

.btn-secondary {
  font-size: 1rem;
  margin: 1rem;
  padding: 0.15rem 0.6rem;
}

.btn-secondary:disabled {
  color: rgb(175, 175, 175);
}

.btn-secondary:disabled:hover {
  background-color: rgb(233, 233, 233);
  cursor: not-allowed;
}

.remove {
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: transparent;
  margin: 0 0.5rem;
}

.remove:hover {
  background-color: rgb(241, 241, 241);
}

.mg-a-1 {
  margin: 0.5rem 0.5rem;
}

.nav-list {
  justify-content: flex-end;
}

.nav-list > li {
  margin-right: 1.5rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.151);
}

.col {
  color: #3ca1cd;
}

.badge-icon {
  margin: 0;
}

.filter-sort {
  position: fixed;
  bottom: 0;
  background-color: #3ca1cd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 10px 0 rgba(0, 0, 0, 0.205);
}

.filter-sort > div {
  flex: 1 1;
  text-align: center;
  color: white;
  border: 1px solid white;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.filter-sort > div:hover {
  background-color: #378db3;
}

.filter-options {
  position: fixed;
  bottom: 2.5rem;
  background-color: #f5fcff;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.5s ease;
}

.filter-active {
  display: block;
  transform: translateY(0%);
  transition: all 0.5s ease;
}

.filter-options_1,
.filter-options_2 {
  display: block;
  margin: 1rem;
}

.filter-options_header {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  color: #3ca1cd;
  margin-top: 1rem;
}
